@{
    ViewBag.Title = "RegisterSuccess";
}
<body style="background:url(../image1.jpg);  background-size: 100%; font-family:Verdana, Arial;">
    <h2>@ViewBag.Title</h2>

    <p>Registration completed successfully. Now you can @Html.ActionLink("login.", "Login")</p>
</body>