@{
    ViewBag.Title = "Home Page";
}
@{
    var totalMessage = "";
}
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">
        <p>
            <label for="text1">WriteName:</label><br>
            <input type="text" name="text1"@{ 
                string a = Request["text1"];
                                               try
                                               {
                                                   if (a.Length > 0)
                                                   {
                                                       totalMessage = "Hello " + a;
                                                   }
                                               }
                                               catch (System.NullReferenceException e)
                                               {
                                                   totalMessage = "";
                                               }
                                           }>
        </p>
    </form>
    <p >@totalMessage</p>
</body>
</html>