@model Lost.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Home Page";
} 
@*using Lost.Models;*@
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">
                      @*
        <input type="radio" name="answer" value="lost" checked>Lost thing<Br>
        <input type="radio" name="answer" value="found">Found thing<Br>
                   <label for="status">Status of Thing (Lost or Found)</label><br>
            <input id="status" name="status" cols="40" rows="3" required>
                    *@   
       
          
    <p>
        <label >Lost...</label><br>
        @Html.RadioButton("status", "lost")<br>
        <label>...or Found?</label><br>
        @Html.RadioButton("status", "found")
  
     </p> 
         <p>
            <label for="place">Place:</label><br>
            <input id="place" name="place" cols="40" rows="3" required>
        </p>
        <p>
            <label for="about">About:</label><br>
            <input id="about" name="about" cols="40" rows="3" required>
        </p>
        <p>
            <label for="description">Description:</label><br>
            <input id="description" name="description" cols="40" rows="3" required>
        </p>
        <p>
            <input type="submit" name="text4" id="text4" value="Send Message">
        </p>
        <p>@Model.Text</p>
    </form>

</body>
</html>
