@model Lost.ViewModel.IndexViewModels
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">
      <!--     <input type="radio" name="answer" value="lost" checked>Lost thing<Br>
        <input type="radio" name="answer" value="found">Found thing<Br>
              <p>

           
                     <input type="text" name="text1" id ="text1">
              </p>
              <p>
                  <label for="text2">About:</label><br>
                  <input type="text" name="text2" id="text2">
              </p>
              <p>
                  <label for="text3">Description:</label><br>
                  <input type="text" name="text3" id="text3">
              </p>
        <select><option value="1">Lost</option><option value = "2">Found</option></select>-->
        <p>
            <label for="text0">Status of Thing (Lost or Found)</label><br>
            <input id="text0" name="text0" cols="40" rows="3" required>
        </p>
        <p>
            <label for="text1">Place:</label><br>
            <input id="text1" name="text1" cols="40" rows="3" required>
        </p>
        <p>
            <label for="text2">About:</label><br>
            <input id="text2" name="text2" cols="40" rows="3" required>
        </p>
        <p>
            <label for="text3">Description:</label><br>
            <input id="text3" name="text3" cols="40" rows="3" required>
        </p>
        <p>
            <input type="submit" name="text4" id="text4" value="Send Message">
        </p>
        <p>@Model.text</p>
    </form>

</body>
</html>

