@model Lost.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">

       
        <p>
            <label for="search">Search:</label><br>
            <input id="search" name="search" cols="40" rows="3">
            <input type="submit" name="searchButton" id="searchButton" value="Search">
        </p>
        <p>
            <input type="submit" name="addButton" id="addButton" value="AddYourThing">
        </p>
<p>@Model.Text</p>
    </form>

</body>
</html>
