@model Lost.ViewModel.IndexViewModels
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">
        <p>
            <label for="text1">WriteName:</label><br>
            <input type="text" name="text1" id ="text1">
        </p>
    </form>
    <p >@Model.text</p>
</body>
</html>