@model Lost.ViewModel.IndexViewModel

@using DB.Models;
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">
        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink("Return", "Index", "Home")
            </div>
        </div>
        <p>

        </p>

        <div class="form-group">
            <div class="col-md-10">
                <label class="col-md-2 control-label">Lost...</label><br>
                @Html.RadioButton("status", ItemStates.Lost, true)<br>
                <label class="col-md-2 control-label">...or Found?</label><br>
                @Html.RadioButton("status", ItemStates.Found, false)

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <br>
                <input class="form-control" id="place" name="place" placeholder="Place" required>         
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <br>
                <input class="form-control" id="about" name="about" placeholder="Title" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <br>
                <input class="form-control" id="description" name="description" placeholder="Description" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <br>
                <input class="form-control" type="submit" name="submitButton" id="submitButton" value="AddThing">
              </div>
        </div>


        <p>@Model.Text</p>
    </form>

</body>
</html>
