@model Lost.ViewModel.IndexViewModel

@using DB.Models;
    <form class="form-horizontal" action="" method="post">
        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink("< Return", "Index", "Home", new { @class = "btn btn-default", @style = "background-color:#d580ff" })
            </div>
        </div>
        <p>

        </p>

        <div class="form-group">
            <div class="col-md-10 horizontal-spacing">
                <label class="control-label">Lost...</label>
                @Html.RadioButton("status", ItemStates.Lost, true)
                <label class="control-label">...or Found?</label>
                @Html.RadioButton("status", ItemStates.Found, false)

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">

                <input class="btn" id="place" name="place" placeholder="Place" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">

                <input class="btn" id="about" name="about" placeholder="Title" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">

                <input class="btn" id="description" name="description" placeholder="Description" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">

                <input class="btn btn-success" type="submit" name="submitButton" id="submitButton" value="AddThing">
            </div>
        </div>


        <p>@Model.Text</p>
    </form>


