@model Lost.ViewModel.IndexViewModel
@using Microsoft.AspNet.Identity;
@using MongoDB.Bson;


@{
    ViewBag.Title = "User Profile";
}
@using DB.Models
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">
        <p>
            @Html.ActionLink("Return", "Index", "Home", new { thingId = Model.ThingId }, null)
        </p>
   @{ 

      
           if (Model.Id != null && User.Identity.GetUserId() != null && Model.Id == User.Identity.GetUserId())
           {
        <p>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" cols="40" rows="3"  value=@Model.UserName>
        </p>
        <p>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" cols="40" rows="3"  value=@Model.LastName>
        </p>
        <p>
            <label for="email">Email:</label><br> 
            <input type="text" id="email" name="email" cols="40" rows="3" value=@Model.Email>
        </p>
        <p>
            <label for="phone">Phone:</label><br>
            <input type="text" id="phone" name="phone" cols="40" rows="3" value=@Model.Phone>
        </p>
        <!--<p>
            <label for="phone">UserId:</label><br>
            <input type="text" id="phone" name="phone" cols="40" rows="3" value=@Model.Id>
        </p>-->
        <p>
            <input type="submit" name="editButton" id="editButton" value="Edit">
        </p>
      @*  <p>@Model.Text</p>*@
           }
           else
           {
            <p>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" cols="40" rows="3" value=@Model.UserName disabled>
            </p>
            <p>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" cols="40" rows="3" value=@Model.LastName disabled>
            </p>
            <p>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email" cols="40" rows="3" value=@Model.Email disabled>
            </p>
            <p>
                <label for="phone">Phone:</label><br>
                <input type="text" id="phone" name="phone" cols="40" rows="3" value=@Model.Phone disabled>
            </p>
            <p>
                <input type="submit" name="editButton" id="editButton" value="Edit">
            </p>
       }

}
    </form>

</body>
</html>