@model Lost.ViewModel.IndexViewModel
@using Microsoft.AspNet.Identity;
@using MongoDB.Bson;


@{
    ViewBag.Title = "User Profile";
}
@using DB.Models
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">
        <p>@Model.Text</p>
        <p>
            @Html.ActionLink("Return", "Index", "Home", new { thingId = Model.ThingId }, null)
        </p>
   @{
       var UIGUI = User.Identity.GetUserId();
       if (Model.Id != null && UIGUI != null && Model.Id == UIGUI)
       {      
            <div class="form-group">
                <label class="col-md-2 control-label" for="fname">First name:</label><br>
              <div class="col-md-10">
                <input class="form-control" id="fname" name="fname" value=@Model.UserName>
              </div>
            </div>
            <br>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="lname">Last name:</label><br>
                    <div class="col-md-10">
                        <input class="form-control" id="lname" name="lname" value=@Model.LastName>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Email:</label><br>
                    <div class="col-md-10">
                        <input class="form-control" id="email" name="email" value=@Model.Email>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="phone">Phone:</label><br>
                    <div class="col-md-10">
                        <input class="form-control" id="phone" name="phone" value=@Model.Phone>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label><br>
                    <div class="col-md-10">
                        <input class="form-control" type="submit" name="editButton" id="editButton" value="Edit">
                    </div>
                </div>
        
      
      
      
    
       }
       else
       {
        <div class="form-group">
            <label class="col-md-2 control-label" for="fname">First name:</label><br>
            <div class="col-md-10">
                <input class="form-control" id="fname" name="fname" value=@Model.UserName disabled>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="col-md-2 control-label" for="lname">Last name:</label><br>
            <div class="col-md-10">
                <input class="form-control" id="lname" name="lname" value=@Model.LastName disabled>
            </div>
        </div>
        <br>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Email:</label><br>
                    <div class="col-md-10">
                        <input class="form-control" id="email" name="email" value=@Model.Email disabled>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="phone">Phone:</label><br>
                    <div class="col-md-10">
                        <input class="form-control" id="phone" name="phone" value=@Model.Phone disabled>
                    </div>
                </div>
       }   }
    


    </form>

</body>
</html>