@model Lost.ViewModel.IndexViewModel
@{
    ViewBag.Title = "User Profile";
}
@using DB.Models
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">
        <style>
            textarea {
                resize: none;
            }
        </style>
        <p>
            <label for="fname">First name:</label><br>
            <textarea id="fname" name="fname" cols="40" rows="3" disabled></textarea>
        </p>
        <p>
            <label for="lname">Last name:</label><br>
            <textarea id="lname" name="lname" cols="40" rows="3" disabled></textarea>
        </p>
        <p>
            <label for="email">Email:</label><br> @*title == about*@
            <textarea id="email" name="email" cols="40" rows="3" disabled></textarea>
        </p>
        <p>
            <label for="phone">Phone:</label><br>
            <textarea id="phone" name="phone" cols="40" rows="3" disabled></textarea>
        </p>
        <p>
            <input type="submit" name="editButton" id="editButton" value="Edit">
        </p>
      @*  <p>@Model.Text</p>*@

    </form>

</body>
</html>