body {
    background: transparent;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family:Verdana, Arial;
}
html {
    background-image:url(../content/image1.jpg);
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.vertical-spacing{
    margin: 15px 0;
}
.border-radius{
    border-radius:20px;
}
.thingsview {
    -ms-opacity: 0.8;
    opacity: 0.8;
}

.horizontal-spacing{
    margin-left: 20px;
    display: inline;
}